<% include ./partials/header.ejs %>
<style>
  form{
    margin-top: 10px;
  }
  form input{
    /* font-size: 18px; */
    padding: 4px 12px;
  }
</style>
    <div class="container py-3">
        <h4 class="mb-4">Feed</h4>
        <p style="margin-top: -22px;">all posts from all around the indrapuri.</p>
        <hr>
        <% allposts.reverse().forEach(function(post){ %>
            <div class="card mt-2" style="width: 30rem;">
                <div class="card-body">
                  <div id="row">
                    <img src="/images/uploads/<%=post.userid.image%>" alt="">
                    <h5 class="card-title">@<%= post.userid.username %></h5>
                  </div>
                  <p class="card-text" style="padding-top: 5px;">Data : <%= post.data %></p>
                  <p style="font-weight: 600;" class="text-primary"><%= post.likes.length %> Likes</p>
                  <a href="/like/<%= post._id %>" class="btn <%= post.likes.indexOf(user.id) === -1 ? 
                    'btn-primary' : 'btn-danger' %>" style="padding: 6px 14px;"><%= post.likes.indexOf
                    (user.id) === -1 ?"Like" : "Unlike" %></a>
                  <a href="/delete/<%= post._id %>" class="btn btn-danger" >Delete</a>
                  <form action="/comment/<%= post._id%>" method="post">
                    <input type="text" name="comment" placeholder="Add comments" style="padding: 2px;">
                    <button type="submit" class="btn btn-primary">comment</button>
                  </form> 
                  <div class="comment">
                    <% post.comment.forEach(function(comment){ %>
                           <h5><%= comment.username %>: <%=comment.msg%></h5>
                    <% })%>
                  </div>
                  
                
                  <!-- <p class="card-text" style="font-size: 12px; margin-top: -15px; color: grey;">
                    <%= post.date %>
                </p>
                <div class="mb-1  d-flex align-items-center">
                    <p class="text-primary mb-0" style="font-weight: 600;font-size: 14px;">
                        <%= post.likes.length %> Likes
                    </p>
                    <p id="showcomment" class="text-primary mb-0 mx-3"
                        style="font-weight: 600;font-size: 14px;">
                        <%= post.comment.length %> Comments
                    </p>
                </div> -->

                </div>
            </div>    
        <% }) %>
    </div>





















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
    <% include ./partials/footer.ejs %>